<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <!-- Session timeout configuration -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!-- DataSource Configuration -->
    <resource-ref>
        <res-ref-name>jdbc/myDataSource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddIncidentServlet</servlet-name>
        <servlet-class>AddIncidentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddIncidentServlet</servlet-name>
        <url-pattern>/AddIncidentServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>ViewIncidentServlet</servlet-name>
    <servlet-class>ViewIncidentServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ViewIncidentServlet</servlet-name>
    <url-pattern>/ViewIncidentServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>UpdateIncidentStatusServlet</servlet-name>
    <servlet-class>UpdateIncidentStatusServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UpdateIncidentStatusServlet</servlet-name>
    <url-pattern>/UpdateIncidentStatusServlet</url-pattern>
</servlet-mapping>



</web-app>